{
	"agent": {
		"metrics_collection_interval": 60,
		"run_as_user": "{{ cloudwatch_agent_run_as_user }}"
	},
{% if cloudwatch_agent_logs | length > 0 %}
	"logs": {
		"logs_collected": {
			"files": {
				"collect_list": [
{% for log in cloudwatch_agent_logs %}
					{
						"file_path": "{{ log.file_path }}",
						"log_group_name": "{{ log.group_name }}",
						"log_stream_name": "{{ log.stream_name }}"
					}{{ "," if not loop.last else "" }}
{% endfor %}
				]
			}
		}
	},
{% endif %}
	"metrics": {
		"append_dimensions": {
			"AutoScalingGroupName": "${aws:AutoScalingGroupName}",
			"ImageId": "${aws:ImageId}",
			"InstanceId": "${aws:InstanceId}",
			"InstanceType": "${aws:InstanceType}"
		},
		"metrics_collected": {
			"disk": {
				"measurement": [
					"used_percent"
				],
        "ignore_file_system_types": [
            "tmpfs",
            "devtmpfs",
            "overlay"
        ],
				"drop_device": true,
				"metrics_collection_interval": 60,
				"resources": [
					"*"
				]
			},
			"mem": {
				"measurement": [
					"mem_used_percent"
				],
				"metrics_collection_interval": 60
			}
		}
	}
}
